{% extends 'base.html' %}

{% block content %}

    <h1 class='h1'>Search Recipe</h1>

    {% for recipe in recipes %}
    <!-- <h1>{{ recipe[0] }}</h1> -->
    <div class="card border-primary mb-3" style="max-width: 300px; display: inline-block; height:700px; margin-right: 20px;">
        <div class="card-header">{{ recipe.dish_type }}</div>
        <!-- {% if recipe.dish_type %}
        <div class="card-header">{{ recipe.dish_type[0].capitalize() }}</div>
        {% else %}
        <div class="card-header">None</div>
        {% endif %} -->
        <div class="card-body" style='height:616px; overflow: scroll;'>
            <h4 class="card-title text-primary">{{ recipe.title }}</h4>
            <p class="card-text">Cuisine Type: {{ recipe.cuisine_type }}</p>
            <img src="{{ recipe.recipe_image }}" width='100%' style='border-radius: 10%;'></img>
            <p class="card-text" style='margin-top: 10px;'>Recipe Details: <a href='{{ recipe.url}}' target="_blank">{{ recipe.title}}</a></p>
            <div class="card-text">
                <ul>
                    <li class='text-info'>{{ recipe.recipe }}</li>
                </ul>
            </div>
        </div>

        {% if g.user %}

            <div class="card-footer" style='background-color: rgb(243, 243, 243);'>
                <form>
                    <button formaction='/users/like/{{recipe.id}}' formmethod="POST" style='border:0; margin:0; padding:0; background-color: rgb(243, 243, 243);'>
                        <i class="
                            {{ 'fa-solid' if recipe.id in likes else 'fa-regular'}}
                            fa-heart 
                            fa-xl"
                        ></i>               
                    </button>
                </form>
                
            </div>

        {% endif %}

      </div>
    
    {% endfor %}

{% endblock %}